<!DOCTYPE html>
<html>
	<head>
		<title>Application Form</title>
		<link rel="stylesheet" href="../static/css/style.css">
		<link href='http://fonts.googleapis.com/css?family=Droid+Sans|Arvo:400,700|Vollkorn' rel='stylesheet' type='text/css'>
	</head>
	
	<body>
		<h2>Application Form Submitted</h2>
		
		<p id="confirmation">Thank you, {{ fullname }}, for your application for a {{ jobsought }} position with a minimum salary requirement of ${{salaryreq}}. Should we choose to move on to the next phase of our hiring process, a member of the Ubermelon team may be in touch.</p>

		<img src="http://www.pkdiet.com/images/food/melon.gif">
	</body>
</html>